/*



Theme Name: Twenty Sixteen



Theme URI: https://wordpress.org/themes/twentysixteen/



Author: the WordPress team



Author URI: https://wordpress.org/



Description: Twenty Sixteen is a modernized take on an ever-popular WordPress layout — the horizontal masthead with an optional right sidebar that works perfectly for blogs and websites. It has custom color options with beautiful default color schemes, a harmonious fluid grid using a mobile-first approach, and impeccable polish in every detail. Twenty Sixteen will make your WordPress look beautiful everywhere.



Version: 1.3



License: GNU General Public License v2 or later



License URI: http://www.gnu.org/licenses/gpl-2.0.html



Tags: one-column, two-columns, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, flexible-header, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog



Text Domain: twentysixteen







This theme, like WordPress, is licensed under the GPL.



Use it to make something cool, have fun, and share what you've learned with others.



*/











/**



 * Table of Contents



 *



 * 1.0 - Normalize



 * 2.0 - Genericons



 * 3.0 - Typography



 * 4.0 - Elements



 * 5.0 - Forms



 * 6.0 - Navigation



 *   6.1 - Links



 *   6.2 - Menus



 * 7.0 - Accessibility



 * 8.0 - Alignments



 * 9.0 - Clearings



 * 10.0 - Widgets



 * 11.0 - Content



 *    11.1 - Header



 *    11.2 - Posts and pages



 *    11.3 - Post Formats



 *    11.4 - Comments



 *    11.5 - Sidebar



 *    11.6 - Footer



 * 12.0 - Media



 *    12.1 - Captions



 *    12.2 - Galleries



 * 13.0 - Multisite



 * 14.0 - Media Queries



 *    14.1 - >= 710px



 *    14.2 - >= 783px



 *    14.3 - >= 910px



 *    14.4 - >= 985px



 *    14.5 - >= 1200px



 * 15.0 - Print



 */











/**



 * 1.0 - Normalize



 *



 * Normalizing styles have been helped along thanks to the fine work of



 * Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/



 */















body {



  overflow-x: hidden;



  font-family: 'Muli', sans-serif;}







p {



  line-height: 1.5;



    color: #1e1e1e;



    font-weight:normal;



  }







a {



  color:#1e1e1e; }



a.active, a:active, a:focus, a:hover {



    color:#e80000; text-decoration:none;}



li {



    list-style: none;



}




#map iframe {
    width: 33.3%;
}





section {



  padding:100px 0; }







/*.mPS2id-target{



  padding:200px 0 50px;



} */ 







.navbar {



    position: fixed;



    width: 100%;



    background: #fff;



    z-index:99;



    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);



}  







.menu-tnb-container {



    float: right;



    margin-top: 15px;



}







#menu-tnb {



    padding-left: 0;



}







#menu-tnb li a {



    font-size:18px;



    padding: 0.75em 0;



    color: #1e1e1e;



    text-transform: capitalize;



    font-weight: 600;



    border-bottom:3px solid transparent;    



}







#menu-tnb li a.mPS2id-clicked , #menu-tnb li a:hover {



  border-color: #e80000;



  text-decoration: none;



}







#menu-tnb li a{



    padding: 0.5em 0.5em !important;



}







#menu-tnb li{



    padding: 0 .5em;



    display:inline-block;



    list-style: none;



}







#menu-hang-menu {



    z-index: 9;



    position: absolute;



    right: 45px;



    top:30px;



}



#facilities .white .sa_owl_theme .owl-nav .owl-next, #facilities .sa_owl_theme .owl-nav .owl-prev{

  background:none !important;

  background-color:transparent !important;

}



#facilities .white .sa_owl_theme .owl-nav .owl-next:before{

  content:'\f138';

  font-family:fontawesome;

  font-size:32px;

  color:#fff;

}





#facilities .sa_owl_theme .owl-nav .owl-prev:before{

  content:'\f137';

  font-family:fontawesome;

  font-size:32px;

  color:#fff;

}



#menu-hang-menu li {



    display: inline-block;



}







#menu-hang-menu li:last-child{



  margin-left: -5px;



}







#menu-hang-menu li:last-child a{



    background: #d01c1c;



}







#menu-hang-menu a {



    background: #e70000;



    padding:15px 25px;



    color: #fff;



}



.page-id-158  .widgettitle{



margin-bottom:30px;



}  



#menu-hang-menu a:hover{



  background:#ce1c1c;



  transition:.5s;



}







#menu-hang-menu li:last-child a:before {



    content: '\f095';



    font-family: fontawesome;



    padding-right: 10px;



}







#menu-hang-menu li:first-child a:before {



    content: '\f133';



    font-family: fontawesome;



    padding-right: 10px;



}











#home{



  padding: 0;



}







.content-position{



  width:30%;



  position:absolute;



  bottom: 80px;



  left:20%;



}











.content-box {



    background:rgba(46, 69, 143, 0.9);



    color: #fff;



    padding: 45px;



}







.content-box h3{



    color: #fff;



    font-weight:600;



    margin-bottom:20px;



}







.content-box p{



    color: #fff;



    padding-right:17%;



}







.book-btn:active, .book-btn:focus, .book-btn:hover, .book-btn:visited{



  color:#fff;



}







.book-btn {



    background: #e80000;



    color: #fff;



    padding: 15px 25px;



    font-size: 18px;



    float: right;



    margin-top: -40px;



    margin-right: 30px;



    border:1px solid #e80000;



}







.book-btn:hover{



  background:rgba(232, 0, 0, 0.61);



  transition:.5s;



  color:#fff;



}



#about p{

  font-weight:normal;

}





#gallery .gl-head {



    float: left;



}



.spider_popup_wrap{

  background-color: rgba(0, 0, 0, 0.35) !important;

}



.bwg_ctrl_btn_container{

  background-color:transparent !important;

}



.spider_popup_close_fullscreen {

    color: #FFFFFF;

    font-size:20px !important;

    right: 15px;

    color: #fff !important;

}



#gallery .read-more{



    float: right;



}







#facilities {



    background: url(../../../../mobitplus.com/cri/wp-content/uploads/2017/11/service-bg.html) no-repeat;



    background-size: cover;



}







#facilities img{



  width:100%;



}



#facilities .service-box {



    background: #eff0f5;



    padding:30px;



}











#facilities .service-box a {



    font-size: 20px;



    font-weight: 700;



}







#facilities .service-box p {



    font-size: 14px;



    margin-top: 15px;



}











#facilities .widgettitle {



    text-align: center;



    color: #fff;



    padding-bottom:60px;



}











#booking {



    background: #d01c1c;



    color: #fff;



    padding:90px 0 0;



    text-align: center;



}



#booking p:last-child {

    margin: 0;

}







#booking .sub-head{



  color: #fff;



}







.book-ul{



  margin: 0;



}







.book-ul li {



    display: inline-block;



    padding: 20px 0;



    background: rgba(0, 0, 0, 0.09);



    width:50%;



}







.book-ul li:last-child{



  background:rgba(0, 0, 0, 0.3); 



}







.book-ul li .fa{



  padding-right:10px;



}







#map{



  padding:0;



}







#map img{



  width:100%;



}







.widgettitle {



    font-weight:700;



    font-size: 30px;



}







.sub-head {



    font-weight: 700 !important;



    font-size: 20px;



    margin-bottom: 30px;



}







.read-more .fa {



    padding-left: 10px;



    vertical-align: middle;



    font-size: 18px;



}







.widget-area section {



    padding: 0;



}







#banner-detail {



    padding: 0;



}







#main-content {



    padding-top: 30px;



}







.facilities-content {



    background: #354b97;



    color: #fff;



    padding:40px;



}







.facilities-content ul{



  padding-left: 0;



  margin-top: 25px;



  height:300px;



}







.facilities-content ul li{



    padding-bottom: 10px;



}







.facilities-content ul li .fa{



  padding-right:10px;



}







.detail-img {



    width: 100%;



    margin-bottom: 70px;



}



















.footer {



  padding: 70px 0;



  text-align: left; 



  background:#fff;



}







#menu-f-menu {



    list-style: none;



    padding-left: 0;



}







#menu-f-menu a{



    display: block;



    padding: .2rem 1rem;



    font-weight: 700;



}







#menu-f-menu li:first-child a{



  padding-top: 0;



}







.footer .copy-right {



    padding-left: 1em;



    margin-top: 20px;



}







.footer .f-head {



    color: #e80000;



    font-weight: 500;



}







.footer .navbar-brand img{



  width: 100%;



}







.footer .f-bottom {



    padding: 25px 15px;



}







@media (max-width:467px) {


#map iframe {
    width:100%;
}




.widgettitle{



  font-size:26px;



}  







.sub-head{



  font-size:18px;



}







.page-id-158 .entry-title, .page-id-78 .entry-title, .page-id-94 .entry-title, .page-id-96 .entry-title{



    display: none;



}







.page-id-158 #menu-hang-menu, .page-id-78 #menu-hang-menu, .page-id-94 #menu-hang-menu, .page-id-96 #menu-hang-menu{



  top: 63px;



}







#banner-detail img{



    height:56px !important;



    margin-top:60px;



  }







  #menu-hang-menu{



    right: 0;



    top: 7px;



  }


  #menu-hang-menu a{
    padding: 5px 10px;
    font-size:12px;
  }







  .sa_hover_container{



    background-size:cover !important;



  }







  .content-position {



      width:100%;



      position: absolute;



      bottom:0px;



      left:0;



  }







  .content-box{



    padding:10px;



    background:rgba(46, 69, 143, 0.8);



  }







  .book-btn{



    padding: 5px 14px;



    font-size: 12px;



    margin-right: 0;



    margin-top:-30px;



  }







  .content-box h3{



    font-size: 16px;



    margin-bottom:5px;



  }



  .content-box p{



    font-size: 12px;



    margin-bottom:0;



  }







  .book-ul li{



    font-size:14px;



    width:100%; 



  }







  #menu-f-menu a{



    padding-left: 0;



  }







  .footer .copy-right{



    padding-left:0;



  }







  #about img{



    margin-top:30px;



  }







  button#responsive-menu-button{



    top:3px !important;



    right:0 !important;



  }







  .logo img{



    width:100%;



  }







  #facilities img{



    margin-top:20px;



  }







 }







@media (min-width:468px) and (max-width:767px){

#map iframe {
    width:100%;
}

  #banner-detail img{



    height:80px !important;



  }



  .content-position {



      width:60%;



      position: absolute;



      bottom:0px;



      left:5%;



  }



  .book-btn{



    padding: 10px 20px;



    font-size: 14px;



  }







  .content-box{



    padding:25px;



  }







  .content-box h3{



    font-size:22px;



  }



  .content-box p{



    font-size:14px;



  }







  #menu-hang-menu{



    right:0;



  }







  #facilities img{



    margin-top:20px;



  }







  .book-ul li{



    font-size:14px;



    width:100%; 



  }



  #menu-f-menu a{



    padding-left: 0;



  }



  .footer .copy-right{



    padding-left:0;



  }



  #about img{



    margin-top:30px;



  }



 } 







@media (max-width: 768px){

#map iframe {
    width:100%;
}

  #menu-tnb{



    display:none;



  }







  .menu-tnb-container{



    display:none;



  }







  #responsive-menu-container{



    background:transparent !important;



  }



} 







@media (min-width: 768px) and (max-width:1199px) {

#map iframe {
    width:100%;
}

  .logo img{



    width:auto;



  }



  #menu-tnb li{



    padding: 0 .1em;



  }



  #menu-f-menu a{



    padding-left: 0;



    font-size:14px;



  }



  #about img{



    margin-top:50px;



  }



  .content-position {



      width:60%;



      position: absolute;



      bottom:10px;



      left:5%;



  }



  .book-btn{



    padding: 10px 20px;



    font-size: 14px;



  }







  .content-box{



    padding:30px;



  }







  .content-box h3{



    font-size:22px;



  }



  .content-box p{



    font-size:14px;



  }







  .footer p{



    font-size:14px;



  }







  .footer .copy-right{



    padding-left: 0;



  }







  #facilities img{



    margin-top:20px;



  }







  #banner-detail img{



    height:56px !important;



  }







  #facilities .service-box a{



    font-size:18px;



  }







  #facilities .service-box{



    margin-top:-1px;



  }



  



}







@media (min-width: 1200px) and (max-width:1440px){



  .content-position {

    width: 40%;

    position: absolute;

    bottom: 50px;

    left: 10%;

}



}    


.sa_hover_container{background-size:cover!important}








