<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>cri</title>
	<atom:link href="http://crisocialservices.org/index.php/feed/" rel="self" type="application/rss+xml" />
	<link>http://crisocialservices.org</link>
	<description>Shri K Gopal Memorial Trust</description>
	<lastBuildDate>Mon, 27 Nov 2017 13:28:32 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.8.10</generator>

<image>
	<url>http://crisocialservices.org/wp-content/uploads/2017/11/cropped-logo-32x32.png</url>
	<title>cri</title>
	<link>http://crisocialservices.org</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>Hello world!</title>
		<link>http://crisocialservices.org/index.php/2017/08/25/hello-world/</link>
		<comments>http://crisocialservices.org/index.php/2017/08/25/hello-world/#comments</comments>
		<pubDate>Fri, 25 Aug 2017 07:18:27 +0000</pubDate>
		<dc:creator><![CDATA[admin@cri]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://crisocialservices.org/?p=1</guid>
		<description><![CDATA[Welcome to WordPress. This is your first post. Edit or delete it, then start writing!]]></description>
				<content:encoded><![CDATA[<p>Welcome to WordPress. This is your first post. Edit or delete it, then start writing!</p>
]]></content:encoded>
			<wfw:commentRss>http://crisocialservices.org/index.php/2017/08/25/hello-world/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
